#main .main_left .left {
    float: left;
    font-size: 17px;
    font-weight: bold;
    color: #666;
    padding:30px 0 0 0;
}

#main .main_left .num {
    float: right;
    font-size: 15px;
    font-weight: bold;
    color: #ccc;
    padding:30px 0 0 0;
}

#main .main_left .form_text{
    width: 632px;
    height: 80px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 3px #dcdcdc inset;
    padding: 13px;
    font-size: 15px;
    color: #666;
}

#main .main_left strong{
    font-size: 22px;
    color: #049;
    font-family: Constantia;
    position: relative;
    top: -2px;
}

#main .main_left .form_face{
    float: left;
    text-decoration: none;
    background: url("../img/weibo_face.png") no-repeat left 5px;
    font-size: 14px;
    text-indent: 16px;
    margin: 4px 0 0 0;
    color: #666;
    outline: none;
    position: relative;
}

#main .main_left .form_face:hover{
    text-decoration: underline;
}

#main .main_left .face_arrow_top{
    width: 19px;
    height: 12px;
    background: url("../img/arrow_top.png");
    display: none;
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 101;
}

#main .main_left .pic_arrow_top{
    width: 19px;
    height: 12px;
    background: url("../img/arrow_top.png");
    display: none;
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 99;
}

#main .main_left .form_button{
    font-size: 15px;
    width: 90px;
    float: right;
    margin: 5px 0 0 0;
}

#main .main_left .form_pic{
    float: left;
    text-decoration: none;
    background: url("../img/weibo_pic.png") no-repeat left 4px;
    font-size: 14px;
    text-indent: 16px;
    margin: 4px 5px 0 12px;
    color: #666;
    outline: none;
    position: relative;
}

#main .main_left .form_pic:hover{
    text-decoration: underline;
}

#main .main_left #pic_boxed{
    margin:0 auto;
    position:absolute;
    max-width: 480px;
    min-width:350px;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 5px #ccc,1px 1px 0 rgba(127,127,127,0.1);
    overflow: hidden;
    background: none repeat scroll 0 0 white;
    zoom:1;z-index:98;
}

#main .main_left .pic_list {
    padding: 15px 10px 10px 10px;
    float: left;
}

#main .main_left .pic_content{
    height:100px;
    width: 100px;
    float: left;
    border: 1px solid #eee;
    margin: -5px 5px 15px 5px;
    overflow: hidden;
    position: relative;
}

#main .main_left #file{
    clear: both;
    margin: 10px auto;
}

#main .main_left .pic_header{
    height:30px;
    line-height: 30px;
    color: #666;
    background: #fafafa;
    font-size: 15px;
    padding: 0 0 0 30px;
}

#main .main_left .pic_line{
    float: left;
    padding: 10px;
}

#main .main_left .pic_content .remove{
    width: 100px;
    height: 25px;
    display: none;
    background: #000000;
    position: relative;
    top: 75px;
    left: 0;
    z-index: 2;
    opacity: 0.3;
    filter: alpha(opacity=30);
    cursor: pointer;
}

#main .main_left .pic_content .text{
    width: 100px;
    height: 25px;
    display: none;
    position: relative;
    line-height: 25px;
    padding:0 0 0 40px ;
    top: 75px;
    left: 0;
    z-index: 3;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
}

#main .main_left .pic_content img.pic_img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

#main .pic_line .pic_line .close{
    float: right;
}