#main{
    width: 1000px;
    height: 100%;
    margin: 50px auto 0 auto;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
}

#main .main_left{
    width:230px;
    float: left;
    padding: 0 20px;
    min-height: 800px;
    background: #f7f7f7;
}

#main .main_left ul{
    text-align: center;
    font-size: 16px;
    padding: 20px 0 0 0;
}

#main .main_left ul li{
    text-indent: 40px;
    height: 40px;
    margin: 0 0 2px 0;
}

#main .main_left ul li a{
    display: block;
    color: #666;
    text-decoration: none;
    padding: 0 20px 20px 0;
    margin: 10px;
}

#main .main_left ul li a:hover,#main .main_left ul li a.selected{
    color: #eee;
    background: #99cdff;
}

#main .main_right{
    width: 730px;
    float: right;
    min-height: 800px;
    background: #fff;
}

#main .main_right h2{
    color: #333;
    margin: 10px 0 0 0;
    height: 35px;
    text-indent: 35px;
    border-bottom: 1px solid #ddd;
}

#main .main_right dl{
    font-size: 16px;
    color: #333;
    margin: 5px 0 0 5px;
}

#main .main_right dl dd{
    padding: 5px 0 ;
}

#main .main_right dl dd input[type="text"]{
    width: 200px;
    height: 15px;
    line-height: 15px;
    border: 1px solid #d2d2d2;
    padding: 12px;
    margin-right: 10px;
    border-radius: 5px;
    background:none;
    font-size: 18px;
    font-family: 黑体;
}

#main .main_right dl dd textarea{
    width: 570px;
    height: 80px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 3px #dcdcdc inset;
    padding: 13px;
    margin: 5px 30px 0 70px;
    font-size: 15px;
    color: #666;
}

#main .main_right dl dd input[type="submit"]{
    width: 80px;
    margin: 10px 0 0 70px;
}

#main .main_right .face{
    position: relative;
    margin: 10px 0 0 10px;
}

#main .main_right dl dd.a {
    font-weight:bold;
}
#main .main_right dl dd.b {
    font-weight:normal;
}
#main .main_right dl dd b.red {
    cursor:pointer;
    color:red;
}
#main .main_right dl dd b.green {
    cursor:pointer;
    color:green;
    font-weight:normal;
}

#main .main_right .crop_preview{
    position: absolute;
    top: 0;
    right: 14px;
    width:200px;
    height:200px;
    overflow:hidden;
    display: none;
}

#main .main_right #file{
    position: relative;
    top: 10px;
    left:35px;
}